@{
    ViewData["Title"] = "Ahmad Ibrahim";
}
<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You've reached the end of intrnet</h1>
        <hr />
        <div class="form-group text-center">
            <img src="https://user-images.githubusercontent.com/24848110/33519396-7e56363c-d79d-11e7-969b-09782f5ccbab.png" class="border-info rounded-circle" style="max-width:150px;" />
        </div>        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>